.project
.classpath
.idea
.classpath/**
out/**
target/**
target-grunt/**
.settings/**
.idea/**
bin/**
.hg/**
.DS_Store
*.iml
*.log
/target
/.checkstyle
memento-api/bin/**
memento-api/.hg/**
memento-api/.DS_Store
memento-api/*.iml
memento-api/*.log
memento-api/target
memento-api/.checkstyle
memento-ui/dist
memento-ui/bower_components
memento-ui/node_modules
memento-ui/.tmp
memento-ui/.sass-cache
memento-ui/npm-debug.log
